include ./includes/head
form(action="/signup", method="post")
    label(for="email") Email 
    input(type="text" name="email" id="email" placeHolder="Your Email")
    label(for="password") Password
    input(type="password" name="password" id="password" placeHolder="Password")
include ./includes/footer