include ./includes/head
if error
    p= error
form(action="/login", method="POST")
    label(for="email") Email 
    input(type="text" name="email" id="email" placeHolder="Your Email")
    label(for="password") Password
    input(type="password" name="password" id="password" placeHolder="Your Password")
    button(type="submit") Submit
include ./includes/footer