include ./includes/head
if error
    p= error
form(action="/signup", method="post")
    label(for="email") Email 
    input(type="text" name="email" id="email" placeHolder="Your Email")
    label(for="name") Full Name
    input(type="text" name="name" id="name" placeHolder="Your Full Name")
    label(for="password") Password
    input(type="password" name="password" id="password" placeHolder="Password")
    button(type="submit") Submit
include ./includes/footer