.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.left,
.calendar-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left > *:not(:last-child) {
  margin-right: 16px;
}

.calendar-control > *:not(:last-child) {
  margin-right: 5px;
}

.calendar {
  text-align: center;
}

.calendar-day-name {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
